<md-card>

	<div class="row">
		<div class="col-md-4">

			<h3>Contact Info</h3>

			<br/>

			<h4>{{firstName}} {{middleName}} {{lastName}}</h4>
			
			<br/>
			<dl class="dl-horizontal">
				<dt>Email: </dt> 
				<dd>{{email}}</dd>

				<dt>Phone: </dt>
				<dd>{{phone}}</dd>

				<dt>Location: </dt>
				<dd>{{location}}</dd> 

				<dt>Citizen: </dt>
				<dd>{{citizenship}}</dd>

				<dt>Language: </dt>
				<dd>{{language}}</dd>

				<dt>Career: </dt>
				<dd>{{period}}</dd>

				<dt>Website: </dt>
				<dd>{{website}}</dd>
			</dl>
		</div>
		<div class="col-md-8">
			<h3>Get In Touch With Me...</h3>
			<p>
				<!-- lorem text goes here for you to see some words to read for as long as you can. -->
			</p>
			<form class="example-form"></form>
		</div>
	</div>


</md-card>