/*
'ELWOOD BERRY (JAN 2017)'
Visit www.elwoodberry.com
Last Updated: April 2017
*/
/* Core variables and mixins */
/*
Colors
*/
/* #000 !default */
/* lighten($gray-base, 13.5%) !default */
/* lighten($gray-base, 20%) !default */
/* lighten($gray-base, 33.5%) !default */
/* lighten($gray-base, 46.7%) !default */
/* lighten($gray-base, 93.5%) !default */
/* darken(#428bca, 6.5%) !default */
/* #5cb85c !default */
/* #5bc0de !default */
/* #f0ad4e !default */
/* #d9534f !default */
/* 

MIXINS
www.elwoodberry.com
--------------------------------------------------
*/
/*

Single side border-radius

Variables:
 - Radius ($radius)
--------------------------------------------------
*/
/*
Title: 'Opacity'
Location: '/scss/components/mixins/_opacity.scss'
Type: Mixin
*/
/* Fonts */
@font-face {
  font-family: 'elwoodberry';
  src: url("../fonts/elwoodberry.eot?664evq");
  src: url("../fonts/elwoodberry.eot?664evq#iefix") format("embedded-opentype"), url("../fonts/elwoodberry.ttf?664evq") format("truetype"), url("../fonts/elwoodberry.woff?664evq") format("woff"), url("../fonts/elwoodberry.svg?664evq#elwoodberry") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'elwoodberry' !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none; }

.icon-brand:before {
  content: "\e900"; }

/* Angular Material Library */
/*
Theming Angular Material
Updating from Angular 2.0 to 4.0
https://material.angular.io/guide/theming

Updated April 21st, 2017
*/
/* @import '../../client/node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css'; */
/*
Override
The tab body was giving me a scroll bar for the y axis.
Updated April 21st, 2017
*/
.mat-tab-body.mat-tab-body-active {
  overflow-y: hidden !important; }

/* 
Importing from hard coded css files within 
the SASS directory

@import "material/pink-bluegrey";
@import "material/deep-amber-purple";
@import "material/md-sidenav";
*/
/* Components */
/* 

ANGULAR COMPONENTS
These files are specific to application's components.

Last Updated: April 2017
www.elwoodberry.com
--------------------------------------------------
*/
/*

DIALOG ACCESS
The button and modal used in the home component.

Component Location: 'client/app/components/_partials/dialog.resumeaccess'
Last Updated: April 2017

--------------------------------------------------
*/
#notLoggedIn {
  background-color: rgba(224, 224, 224, 0.8); }

#loggedIn {
  background-color: rgba(255, 0, 0, 0.8);
  color: #FFF; }

#mustBeRegistered {
  font-size: 12px; }
  #mustBeRegistered a {
    cursor: pointer; }

button {
  width: 100%; }

/*

MAP (Global)
Displays the map of Blacklick, Ohio

Used for the following application components:
 - 'client/app/components/_partials/home.footer'
 - 'client/app/components/_partials/resume.contact'

Component Location: 'client/app/components/_partials/global.map'
Last Updated: April 2017

--------------------------------------------------
*/
.transparency-sebm-google-map {
  background-color: rgba(255, 255, 255, 0.05);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2; }

.google-map-image {
  background-color: #4e98d8;
  background-image: url(img/blacklick-map.png);
  background-size: cover;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1; }

.sebm-google-map-container {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

/*

PROJECTS (Global)
Used for he display of projects in the Github repositories.

Used for the following application components:
 - home.github
 - resume.card.webdev

Component Location: 'client/app/components/_partials/global.projects'
Last Updated: April 2017

--------------------------------------------------
*/
#github-projects .col-md-3 .project-url {
  text-decoration: none; }
  #github-projects .col-md-3 .project-url .project-image {
    background-position: center center;
    background-size: cover;
    display: block;
    height: 150px;
    width: 100%; }
  #github-projects .col-md-3 .project-url .project-title {
    color: #000; }
  #github-projects .col-md-3 .project-url .project-description {
    color: #000; }
  #github-projects .col-md-3 .project-url .project-techstack li {
    display: block; }

/*

SPLASH HEAD
Used in the Home Component

Component Location: 'client/app/components/_partials/home.splashhead'
Last Updated: April 2017

--------------------------------------------------
*/
#splashhead {
  background-image: url("../img/elwoodberry-bckgrnd-img_001.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  position: relative; }
  #splashhead .container .row {
    /* background-color: rgba(55, 167, 162, 0.0); */
    padding: 100px 0 50px; }
    #splashhead .container .row .col-md-6 {
      /* background-color: rgba(55, 167, 162, 0.0); */
      float: none;
      margin: 0 auto; }
      #splashhead .container .row .col-md-6 .row .col-md-2 {
        text-align: center; }
        #splashhead .container .row .col-md-6 .row .col-md-2 img {
          width: 100%; }
      #splashhead .container .row .col-md-6 .row .col-md-10 p {
        padding-bottom: 12px;
        padding-top: 12px; }
  #splashhead .transparency {
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

/*

Footer

--------------------------------------------------
*/
footer {
  background-color: transparent;
  height: 325px;
  overflow: hidden;
  position: relative; }
  footer section.container-fluid {
    height: inherit; }
    footer section.container-fluid .container {
      background-color: transparent;
      height: inherit;
      left: 0;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      z-index: 100; }
      footer section.container-fluid .container .row {
        height: inherit; }
        footer section.container-fluid .container .row .col-md-6 {
          height: inherit; }
          footer section.container-fluid .container .row .col-md-6 .contact-panel {
            background-color: rgba(238, 238, 238, 0.8);
            border: 1px solid #DDD;
            border-top: none;
            left: 25%;
            padding: 25px;
            position: absolute;
            top: 0; }
            footer section.container-fluid .container .row .col-md-6 .contact-panel h1 {
              font-family: 'Roboto', sans-serif; }
            footer section.container-fluid .container .row .col-md-6 .contact-panel .social-icons {
              margin-top: 15px; }
              footer section.container-fluid .container .row .col-md-6 .contact-panel .social-icons a {
                background-color: rgba(255, 255, 255, 0.4);
                border: 1px solid;
                display: inline-block;
                font-size: 20px;
                padding: 3px;
                text-align: center;
                width: 22%; }

.elwood-card {
  /*
  background-color: rgba(57, 154, 69, 0.0);
  */
  margin: 10px 0px 20px 0px; }

.elwood-md-4:nth-child(even) {
  background-color: rgba(40, 169, 99, 0);
  padding: 50px; }

.elwood-md-4:nth-child() {
  background-color: rgba(40, 169, 99, 0);
  padding: 50px; }

.elwood-md-8 {
  background-color: rgba(169, 40, 81, 0);
  padding: 50px; }

.elwood-md-8 .elwood-md-4 {
  padding: 0px; }

.elwood-heading {
  background-color: rgba(240, 248, 255, 0);
  display: block;
  height: 25px;
  margin-left: 25px;
  padding: 0 0 0 8px;
  text-align: left; }

.elwood-body {
  font-size: 30px;
  margin-left: 25px;
  padding-bottom: 0px;
  padding-top: 0px;
  text-align: left; }

.elwood-panel {
  border: 25px solid transparent;
  background-color: rgba(240, 248, 255, 0);
  position: relative;
  margin-bottom: 45px; }

.elwood-fa {
  background-color: rgba(250, 235, 215, 0);
  border-radius: 100px;
  border: 1px solid rgba(140, 140, 140, 0.5);
  /* border-right: 1px solid rgba(0, 0, 0, 0.0); */
  font-size: 20px;
  height: 25px;
  left: 0;
  padding-left: 2px;
  padding-top: 2px;
  position: absolute;
  text-align: center;
  width: 25px; }

/*

NAV.RESUME
Navigation For Resume
See 'elwoodberry/client/app/components/_partials/nav.resume'

--------------------------------------------------
*/
#nav-resume {
  /* background-color: rgba(0, 0, 0, 0.0); */
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  color: #000;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }
  #nav-resume .btnLabel {
    display: none; }
  #nav-resume #tile-left button {
    left: 0;
    position: absolute; }
  #nav-resume #tile-right button {
    position: absolute;
    right: 0; }

@media (min-width: 768px) {
  #nav-resume .btnLabel {
    display: inline-block; } }

/* Components */
/* 

ALERTS
www.elwoodberry.com
--------------------------------------------------

Base styles

*/
.alert {
  border: none;
  border-radius: 0;
  font-size: 11px;
  margin-bottom: 10px;
  margin-top: -8px;
  padding: 0 0 0 5px; }

/*

Dismissible alerts

Expand the right padding and account for the close button's positioning.
*/
/*
Alternate styles

Generate contextual modifier classes for colorizing the alert.
*/
.alert-danger {
  background-color: transparent; }

/*

Grid
Parent: 'grid'
URL: http://getbootstrap.com/components/#grid
--------------------------------------------------
*/
.elwood-full-background {
  background-color: #FF0000; }

/*

Navbars
Parent: 'navbar'
URL: http://getbootstrap.com/components/#navbar
--------------------------------------------------
*/
.elwood-navbar {
  background-color: rgba(67, 255, 231, 0.9);
  border-color: transparent;
  left: 0;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  border-radius: 0; }
  .elwood-navbar .container-fluid {
    padding-left: 0px;
    padding-right: 0px; }

/*
DEPREICATED
FEB 22, 2017
*/
.modal-backdrop {
  background-color: rgba(255, 255, 255, 0);
  z-index: -1; }

/*

Panel
Parent: 'panel'
URL: http://getbootstrap.com/components/#panel
--------------------------------------------------
*/
.panel {
  border-radius: 0;
  background-color: transparent;
  border: none;
  box-shadow: none; }

.preloader {
  background-color: transparent;
  color: #E9413D;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }
  .preloader .canvas {
    background-color: transparent;
    display: block;
    height: 180px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px; }
    .preloader .canvas:after {
      border-top: 1px solid #EEE;
      bottom: -60px;
      content: "Loading";
      padding: 10px 0 0 0;
      position: absolute;
      text-align: center;
      width: 100%;
      font-family: sans-serif;
      font-feature-settings: initial;
      font-kerning: initial;
      font-size: initial;
      font-stretch: normal;
      font-style: normal;
      font-variant: small-caps;
      font-weight: 100; }
    .preloader .canvas .ebounce {
      animation: ball;
      background-color: transparent;
      border-radius: 100%;
      height: 50px;
      left: 50%;
      margin: 0 0 0 -25px;
      position: absolute;
      top: 10px;
      width: 50px;
      -webkit-animation-delay: 0s;
      /* -webkit-animation-direction: alternate; */
      -webkit-animation-duration: 1s;
      -webkit-animation-iteration-count: infinite;
      /* -webkit-animation-timing-function: linear; */
      animation-delay: 0s;
      /* animation-direction: alternate; */
      animation-duration: 1s;
      animation-iteration-count: infinite;
      /* animation-timing-function: linear; */ }
    .preloader .canvas .letter {
      animation-name: letter;
      display: block;
      font-size: 48px;
      text-align: center;
      -webkit-animation-delay: 0s;
      /* -webkit-animation-direction: alternate; */
      -webkit-animation-duration: 1s;
      -webkit-animation-iteration-count: infinite;
      /* -webkit-animation-timing-function: linear; */
      animation-delay: 0s;
      /* animation-direction: alternate; */
      animation-duration: 1s;
      animation-iteration-count: infinite;
      /* animation-timing-function: linear; */ }

@keyframes ball {
  0% {
    top: 6px; }
  5% {
    top: 8px; }
  10% {
    top: 12px; }
  15% {
    top: 20px; }
  20% {
    top: 38px; }
  25% {
    top: 72px; }
  30% {
    top: 100px; }
  35% {
    top: 152px; }
  40% {
    height: 46px;
    margin-left: -27px;
    top: 154px;
    width: 54px; }
  50% {
    height: 24px;
    margin-left: -36px;
    top: 176px;
    width: 72px; }
  55% {
    height: 38px;
    margin-left: -29px;
    top: 162px;
    width: 58px; }
  60% {
    height: 48px;
    margin-left: -26px;
    top: 138px;
    width: 52px; }
  65% {
    height: 50px;
    top: 110px;
    width: 50px; }
  70% {
    top: 72px; }
  75% {
    top: 38px; }
  80% {
    top: 20px; }
  85% {
    top: 12px; }
  90% {
    top: 8px; }
  95% {
    top: 5px; }
  100% {
    top: 5px; } }

@keyframes letter {
  0% { }
  5% { }
  10% { }
  15% { }
  20% { }
  25% { }
  30% { }
  35% { }
  40% {
    -ms-transform: scale(1.1, 0.85);
    /* IE 9 */
    -webkit-transform: scale(1.1, 0.85);
    /* Safari */
    transform: scale(1.1, 0.85);
    /* Standard syntax */ }
  50% {
    -ms-transform: scale(2, 0.5);
    /* IE 9 */
    -webkit-transform: scale(2, 0.5);
    /* Safari */
    transform: scale(2, 0.5);
    /* Standard syntax */ }
  55% {
    -ms-transform: scale(1.1, 0.85);
    /* IE 9 */
    -webkit-transform: scale(1.1, 0.85);
    /* Safari */
    transform: scale(1.1, 0.85);
    /* Standard syntax */ }
  60% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    transform: scale(1, 1);
    /* Standard syntax */ }
  65% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    transform: scale(1, 1);
    /* Standard syntax */ }
  70% { }
  75% { }
  80% { }
  85% { }
  90% { }
  95% { }
  100% { } }

section {
  border-bottom: 1px solid rgba(204, 204, 204, 0.3); }
  section .container {
    position: relative;
    z-index: 100; }
    section .container ol li a img, section .container ul li a img {
      width: 175px; }
    section .container h3 {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      color: rgba(0, 0, 0, 0.39);
      font-family: Roboto,sans-serif;
      font-size: 14px;
      margin-top: 10px;
      padding: 5px 0;
      text-align: center; }
    section .container .row div[class*="col"] a {
      display: block;
      height: 100%;
      width: 100%; }
      section .container .row div[class*="col"] a img {
        width: 100%; }

.seo-content {
  left: -450px;
  position: absolute;
  width: 400px;
  z-index: -1; }

/*

Lists
----------------------
*/
ol, ul {
  display: block;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  -webkit-padding-start: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }
  ol li, ul li {
    display: inline-block;
    text-align: -webkit-left; }
    ol li a, ul li a {
      display: block; }

/*

Horizontal description lists
----------------------
Defaults to being stacked without any of the below styles applied, 
until the grid breakpoint is reached (default has been extended to 320px).
*/
@media (min-width: 320px) {
  .dl-horizontal dt {
    float: left;
    width: 65px;
    clear: left;
    text-align: right; }
  .dl-horizontal dd {
    margin-left: 75px; } }

/*

Elwood Description List
----------------------
Created for the 'Overview' tab for Resume
*/
.description-list {
  margin-left: 20px;
  margin-top: 50px; }
  .description-list .description {
    color: rgba(0, 0, 0, 0.45);
    margin-bottom: 20px; }

/*

Chart Legend
----------------------
Created for the charts in the 'Overview' tab for Resume
*/
.elwood-legend {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 11px;
  margin-top: 20px;
  text-align: center;
  padding: 5px; }
  .elwood-legend ul li {
    border-right: 1px solid;
    margin-right: 10px;
    padding-right: 10px; }
  .elwood-legend ul li:last-child {
    border-right: none;
    margin-right: 10px;
    padding-right: 10px; }
