<md-card id="cardwebdev" class="elwood-card">

  <md-card-header>
    <md-card-title>{{webdevTitle}}</md-card-title>
    <md-card-subtitle>{{webdevSubtitle}}</md-card-subtitle>
  </md-card-header>

  <md-card-content>
    <projects></projects>

    <!-- <div class="row"> -->

      <!-- 
      <div class="col-md-3" *ngFor="let project of webdevProjects">
        <a [href]="project.githuburl" target="_blank">
          <img [src]="project.imgurl" style="background-color: rgba(50, 68, 84, 0.5); display: block; height: 135px;">
          <h3> {{project.title}} </h3>
          <p> {{project.description}} </p>
        </a>
      </div>
      -->

      <!-- 
      <div class="col-md-3" *ngFor="let project of projects" style="overflow: hidden;">
        <a [href]="project.url" target="_blank">
          <img [src]="project.imgurl" style="background-color: rgba(50, 68, 84, 0.5); display: block; height: 135px;">
          <h3 style="text-decoration: none; color: #000;"> {{project.title}} </h3>
          <p style="text-decoration: none; color: #000;"> {{project.description}} </p>
        </a>
      </div>
      
    </div>
    -->
  </md-card-content>

</md-card>