<section id="footer" class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				
				<div class="contact-panel">

					<h1>Contact Me</h1>

					Blacklick, OH 43004 <br/>
					United States Of America <br/>
					<br/>		

		            <strong>Phone</strong>: (469) 609-7444 <br/>
		            <strong>Email</strong>: me@elwoodberry.com <br/>
		            <strong>Skype</strong>: elwoodberry <br/>

		            <div class="social-icons">
			            <a href="https://www.linkedin.com/in/iamelwood/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			            <a href="https://plus.google.com/105777790091945308585" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
			            <a href="https://www.youtube.com/channel/UCTMTVUJ4UTBNBWZC13Y0wyg" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
			            <a href="https://twitter.com/elwoodberry" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		            </div>

				</div>

			</div>
			<div class="col-md-6"></div>
		</div>
	</div>
	<map></map>
</section>