<section id="stacklogos" class="container-fluid">
	<div class="container">

		<h3>My preferred technology stack</h3>

		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-3">
				<a href="https://www.mongodb.com/" id="" target="_blank">
					<img id="tech-stack-mongodb" src="img/tech-stack/01-mongo-db.png">
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3">
				<a href="http://expressjs.com/" id="" target="_blank">
					<img id="tech-stack-express" src="img/tech-stack/02-express.png">
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3">
				<a href="https://nodejs.org/en/" id="" target="_blank">
					<img id="tech-stack-angular" src="img/tech-stack/03-node.png">
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3">
				<a href="https://angular.io/" id="" target="_blank">
					<img id="tech-stack-node" src="img/tech-stack/04-angular.png">
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-3">
				<a href="https://www.typescriptlang.org/" id="" target="_blank">
					<img id="tech-stack-mongodb" src="img/tech-stack/05-typescript.png">
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3">
				<a href="https://jquery.com/" id="" target="_blank">
					<img id="tech-stack-express" src="img/tech-stack/06-jquery.png">
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3">
				<a href="http://sass-lang.com/" id="" target="_blank">
					<img id="tech-stack-angular" src="img/tech-stack/07-sass.png">
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3">
				<a href="https://cloud.google.com/" id="" target="_blank">
					<img id="tech-stack-node" src="img/tech-stack/08-google.png">
				</a>
			</div>
		</div>

	</div>
</section>