/*

Grid
Parent: 'grid'
URL: http://getbootstrap.com/components/#grid
--------------------------------------------------
*/

.elwood-full-background {
	background-color: #FF0000;
	
	.container-fluid {

	}
}