<section id="employer" class="container-fluid">
	<div class="container">
		<h3>Companies that I have had the pleasure of working with.</h3>
		
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-3">
				<a target="_blank" href="https://www.mcdonalds.com/us/en-us/careers/training-and-education.html">
					<img id="employerVerizon" alt="Verizon" src="img/employers/01-mcdonalds.png">
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3">
				<a target="_blank" href="http://www.nexstar.tv/">
					<img id="employerVerizon" alt="Verizon" src="img/employers/02-media-general.png">
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3">
				<a target="_blank" href="http://www.ignitetech.com/">
					<img id="employerVerizon" alt="Verizon" src="img/employers/03-ignite-technologies.png">
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3">
				<a target="_blank" href="http://www.jcpenney.com/">
					<img id="employerVerizon" alt="Verizon" src="img/employers/04-jcpenney.png">
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-3">
				<a target="_blank" href="http://www.globecomm.com/">
					<img id="employerVerizon" alt="Verizon" src="img/employers/05-globecomm.png">
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3">
				<a target="_blank" href="http://fios.verizon.com/">
					<img id="employerVerizon" alt="Verizon" src="img/employers/06-verizon.png">
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3">
				<a target="_blank" href="https://www.bk.com/">
					<img id="employerBurgerKing" alt="Verizon" src="img/employers/07-burger-king.png">
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3">
				<a target="_blank" href="https://www.bankofamerica.com/">
					<img id="employerBankOfAmerica" alt="Verizon" src="img/employers/08-bank-of-america.png">
				</a>
			</div>
		</div>
	</div>
</section>